html, body, p {
  padding: 0;
  margin: 0;
}

/**************************************
*************** Nav Bar ****************
***************************************/
.nav-bar {
  width: 100vw;
  height: 8vh;
  background-color: #F4BBD3;
}

.shopping-cart {
  height: 100%;
  font-size: 13px;
  padding: 0px 30px;
  color: white;
  float: right;
  background-color: tomato;
}

.check-out {
  background-color: indigo;
  padding: 2px 5px;
  margin-top: 4px;
}


/**************************************
*************** CHECKOUT ****************
***************************************/

.checkout-section {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

/**************************************
*************** SIDEBAR ****************
***************************************/

.sidebar {
  width: 15vw;
  height: 100vh;
  background-color: #F1E4F3;
  display: inline-block;
  position: absolute;
  /*margin: 0;*/
  overflow: auto;
}

.single-product {
  width: 80%;
  background-color: white;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 6px;
  /*display: inline-block;*/
  /*position: static;*/
  padding: 4px;
}
.single-product ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image {
  width: 100%;
  height: 100%;
}

/**************************************
************ Main Container ***********
***************************************/

.main-container {
  width: 85vw;
  height: 100vh;
  background-color: #F7ECE1;
  display: inline-block;
  position: absolute;
  right: 0;
}

.current-product-container {
  width: 100%;
  height: 80%;
  /*background-color: white;*/
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.current-product-container img {
  width: 350px;
  margin: 0 auto;

}

.login {
  width: 80vw;
  height: 200px;
  background-color: gray;
  color: white;
}


/**************************************
************ Main Container ***********
***************************************/

.footer {
  width: 100vw;
  height: 100px;
  background-color: tomato;
  /*position: absolute;*/
  display: inline-block;
  /*bottom: 1;*/
  margin-top: 650px;
}







